*{
    padding: 0px;
    margin: 0px;
    background: #f7f7f7;
    font-family: firasans,sans-serif; 
}

.container{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
}


/*---------------- Header -------------------*/

.main_header{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-right: 50px;
}
.input_search{
    height: 40px;
    padding: 2px 32px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #cecece;
    font-family: firasans,sans-serif;
    font-size: 16px;
    line-height: 1.33em;
    color: #7c7f84;
    text-align: left;
    width: 250px;
}

.admin_buttons input{
    width: 100%;
    padding: 3px;
    border-radius: 12px;
    border: 1px solid #cecece;
    color: #7c7f84; 
    background: #fff;
    margin-top: 3px;
}

.admin_buttons{
    text-align: center;
}

.add_button{
    margin-top: 50px;
}

.header_menu{
    margin-right: 55px;
}

.bookAdd{
    background: #fff;
    width: 50px;
}

.photo{
    text-align: center;
}

.add{
    margin-right: 5px;    
    background: #fff;
}

.menu_list{
    list-style: none;
}

.search{
    margin-right: 35px;
}

.logged_user{
    color: rgb(219, 141, 24);
}

.menu_item{
    display: inline-block;
    margin-right: 15px;
    color: rgb(219, 141, 24);
}



.auth a{
    text-decoration: none;
    color: rgb(219, 141, 24);
}

.GenreItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-right: 15px;
}

.GenreItems p{
    color: #7c7f84;
    background: #fff;
    font-size: 14px;
}

.GenreItems b{
    background: #fff;
    font-size: 17.5px;
}

.item_background{
    background: #fff;
}

.Item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    background: #fff;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px 0 rgba(37,38,40,.2);
    height: 70px;
}

.Item p{
    margin-top: 5px;
}


.img_color{
    background: #fff;
}

.Item img{
    background: #fff;
    border-style:none;
}


/*------------------ Body --------------------*/

.Title{
    text-align: center;
}

.Title h1{
    font-size: 36px;
    color: rgb(219, 141, 24);
    letter-spacing: 3px;
}

.line{
    border-top: solid 1px #fff;
}

.menu_list_new{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.menu_list_new .item i{
    margin-bottom: 20px;
    font-size: 22px;
    color: rgb(219, 141, 24);
}

.main_body{
    margin-top: 40px;
}

.main_body h1{
    font-size: 48px;
    padding-bottom: 16px;
}

.nameList span{
    background: #fff;
    overflow: visible;
    font-size: 18px;
    font-weight: bold;
}

.nameList{
    background: #fff;
    overflow: visible;
    margin-bottom: 10px;
   
}

.nameList2{
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.location{
    background: #fff;
}

.location h5{
    margin-right: 25px;
    margin-top: 35px;
}

.location a{
    text-decoration: none;
    background: #fff;
    color: #be5b04;
}

.nameList .inf {
    background: #fff;
    margin-top: 15px;
}



.Items{
    display: flex;
    justify-content: flex-start;
    background: #fff;
    overflow: visible;
}


.ListBook{
    background: #fff;
    overflow: visible;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.repeat{
    background: #fff;
    overflow: visible; 
}

.bookItem{
    margin-right: 20px;
}

.photo img{
    border-radius: 7px;
}

.name span{
    font-weight: bold;
    font-size: 12px;
}

.autor span{
    font-size: 12px;
    color: #7c7f84;
}

.Text_Container{
    margin-bottom: 20px;
}

.Text_arcticle{
    display: flex;
    justify-content: space-between;
    
}

.main_paragraph{
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    display: block;
}

.paragraph{
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1em;
}

.Text_section{
    width: calc(50% - 10px);
}


.width_article{
    width: 864px;
}

.Text_section p{
    background: #f7f7f7;
}

.text {
    line-height: 1.5em;
    font-size: 16px;
    color: #393f45;
    margin-bottom: 15px;
}

.main_content{
    display: flex;
    justify-content: space-between;
}

.items_genre span{
    background: #fff;
    color: #be5b04;
    font-size: 14px;
}

.items_genre{
    background: #fff;
}

.items_genre a{
    text-decoration: none;
}

.left_part{
    width: 230px;
    background: #fff;
    padding: 15px 15px 15px;
    border-radius: 12px;
}

.right_part{
    width: 76.8%;
}

.quantity_genre{
    background: #fff;
    display: block;
    margin-bottom: 16px;
    color: #7c7f84
}

.Genre{
    background: #fff;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.item_lefpart{
    background: #fff;
    margin-bottom: 25px;
}

/*---------------  Footer  ----------------*/

footer{
    background: #fffbf1;
    color: #be5b04;
}

.footer div, i{
    background: #fffbf1;
}

.footer .bold {
    font-weight: bold;  
    margin-bottom: 15px;
}

.footer{
    background: #fffbf1;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.project li, p{
    background: #fffbf1;
    overflow: visible;
}

.footer i{
    margin-right: 15px;
    font-size: 20px;
}

.footer a{
    text-decoration: none;
    background: #fffbf1;
    overflow: visible;
    color: #be5b04;
}

.project li{
    list-style: none;
    margin-bottom: 15px;
}

.phone_field{
    margin-bottom: 15px;
}
