*{
    padding: 0px;
    margin: 0px;
    background: #f7f7f7;
    font-family: firasans,sans-serif;
    
}

.container{
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 10px;
}


/*---------------- Header -------------------*/

.main_header{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-right: 60px;
}


.input_search{
    height: 40px;
    padding: 2px 32px;
    background: #fff;
    border: none;
    border-radius: 12px;
    border: 1px solid #cecece;
    font-family: firasans,sans-serif;
    font-size: 16px;
    line-height: 1.33em;
    color: #7c7f84;
    z-index: 100;
    text-align: left;
    -webkit-transition: all .2s;
    transition: all .2s;
    width: 300px;
}

.header_menu{
    margin-right: 55px;
}

.menu_list{
    list-style: none;
}

.search{
    margin-right: 40px;
}

.menu_item{
    display: inline-block;
    margin-right: 20px;
    color: rgb(219, 141, 24);
}

.auth a{
    text-decoration: none;
    color: rgb(219, 141, 24);
}


/*------------------ Body --------------------*/


.main_body{
    margin-top: 40px;
}

.main_body h1{
    font-size: 48px;
    padding-bottom: 16px;
}

