.box_slider {
    position: relative;
}

.prev,
.next {
    position: absolute;
    top: 35%;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    color: rgb(219, 141, 24);
}

.next {
    right: 0;
}