.author{
    display: flex;
}

.menu{
    margin-top: 40px;
}

h3{
    font-size: 20px;
}


.about{
    margin-top: 15px;
    margin-bottom: 8px;
}

.author_information{
    margin-left: 30px;
}

.book{
    display: flex;
}

.about_author{
    width: 700px;
}

.text{
    background: #f7f7f7;
}

